{% extends "base.html.twig" %}

{% block title %}
    Inscription
{% endblock %}

{% block admin %}active{% endblock %}

{% block body %}

<h1>Inscription</h1>

{{ include('front/_form.html.twig') }}

{% endblock %}