{% extends "back/base_admin.html.twig" %}

{% block title %}
    Modifier Proposition
{% endblock %}

{% block proposition %}active{% endblock %}

{% block body %}

<h1>Modifier une proposition</h1>

{{ include('back/_form.html.twig') }}

{% endblock %}